.PlaylistsOverview {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120vw;
}
.PlaylistsOverviewImgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120vw;
}

.PlaylistImg {
    border-radius: 12px;
    width: 21%;
    height: 21%;
}

.PlaylistImg:nth-of-type(2) {
    width: 33%;
}

.PlaylistsOverview h3 {
    padding-top: 1em;
    font-size: 2em;
    max-width: 30%;
    text-align: center;
}